@media (prefers-c) {
  
}

main{
  align-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  width: 100vw;
}

input{
  padding: 5px;
  margin-bottom: 10px;
}